/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}

/* Canvas styles */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Jumping words */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
  margin: 50px auto 20px;
  width: auto;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* Navigation bar styles */
nav {
  backdrop-filter: blur(10px);
  font-size: 1em;
  width: 100%;
  height: auto;
  padding: 10px 0;
  color: white;
  position: fixed;
  top: 50px;
  text-align: center;
  z-index: 1000;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  background: rgba(31, 247, 103, 0.438);
}

/* Details container */
.details-container {
  position: relative;
  margin: 150px auto 20px;
  width: 90%;
  max-width: 800px;
  color: #ffff;
  border: 4px solid lightgreen;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

/* Adjust font sizes */
h1, h2, h3 {
  font-size: 2rem;
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .details-container {
    padding: 10px;
  }

  h1, h2, h3 {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  p {
    font-size: 1rem;
  }

  .waviy {
    font-size: 1.8rem;
    padding: 20px 0;
  }

  nav {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    height: auto;
    text-align: center;
  }

  .details-container {
    margin-top: 20px;
    width: 90%;
    height: auto;
  }
}

@media (max-width: 600px) {
  nav a {
    font-size: 0.9rem;
    padding: 8px;
  }
}
