/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Canvas styles */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full viewport height */
  z-index: -1; /* Send canvas to the back */
}

/* Details container */
.details-container {
  max-width: 90%;
  margin: 13% auto; /* Center container horizontally and space from top */
  padding: 20px;
  backdrop-filter: blur(10px); /* Apply blur to the background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
  color: #fff;
  border: 4px solid lightgreen;
  text-align: center;
  z-index: 1;
  position: relative;
}

/* Header styles */
header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  text-align: center;
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Matrix rain */
* {
  margin: 0;
  padding: 0;
}

/* Jumping words */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
  margin: 20px auto;
  width: auto;
  font-size: 2.5rem;
  text-align: center;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* Navigation bar styles */
nav {
  gap: 10px;
  justify-content: center;
  display: flex;
  backdrop-filter: blur(10px);
  font-size: 1em;
  width: 24%;
  margin: 0;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  position: fixed;
  top: 90px; /* Adjust according to your layout */
  text-align: center;
  z-index: 1000;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  background: rgba(31, 247, 103, 0.438);
}

/* Navbar */
.navbar {
  padding: 20px 0;
  min-height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Media queries for smaller screens */
@media (max-width: 660px) {
  h1, h2, h3 {
    font-size: 1.4rem;
    margin: 10px 0;
  }
  .navbar a {
    font-size: 1rem;
    padding: 8px;
  }
  .waviy {
    font-size: 1.6rem;
    padding: 15px 0;
    text-align: center;
  }
  nav {
    width: 51%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 25%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  }
  .details-container {
    margin: 27% auto; /* Adjusted top margin */
    width: 90%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  h1, h2, h3 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .navbar a {
    font-size: 1rem;
    padding: 8px;
  }

  .waviy {
    font-size: 1.6rem;
    padding: 15px 0;
    text-align: center;
  }

  nav {
    width: 51%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 25%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  }

  .details-container {
    margin: 25% auto; /* Adjusted top margin */
    width: 90%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (max-width: 580px) {
  h1, h2, h3 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .navbar a {
    font-size: 1rem;
    padding: 8px;
  }

  .waviy {
    font-size: 1.6rem;
    padding: 15px 0;
    text-align: center;
  }

  nav {
    width: 51%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 25%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  }

  .details-container {
    margin: 32% auto; /* Adjusted top margin */
    width: 90%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (max-width: 544px) {
  h1, h2, h3 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .navbar a {
    font-size: 1rem;
    padding: 8px;
  }

  .waviy {
    font-size: 1.6rem;
    padding: 15px 0;
    text-align: center;
  }

  nav {
    width: 51%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 25%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  }

  .details-container {
    margin: 36% auto; /* Adjusted top margin */
    width: 90%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (max-width: 484px) {
  h1, h2, h3 {
    font-size: 1.3rem;
    margin: 10px 0;
  }

  .navbar a {
    font-size: 1rem;
    padding: 8px;
  }

  .waviy {
    font-size: 1.5rem;
    padding: 15px 0;
    text-align: center;
  }

  nav {
    width: 51%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 25%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  }

  .details-container {
    margin: 40% auto; /* Adjusted top margin */
    width: 90%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (max-width: 412px) {
  h1, h2, h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .waviy {
    margin-left: 10%;
    font-size: 1.8rem;
    padding: 20px 0;
    text-align: center;
  }

  nav {
    width: 35%;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 10%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  }

  .details-container {
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    margin-top: 50%;
    width: 100%;
    height: auto;
    flex: 1;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
  }
}
